<div class="container-fluid">
    <form action="/insert" method="post">
        <div class="row mt-2">
            <div class="col-md-2 mt-1">
                <label for="">Subject Code</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="subjectcode" class="form-control">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2 mt-1">
                <label for="">Subject Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="subjectname" class="form-control">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2 mt-1">
                <label for="">Institute Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="institutename" class="form-control">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2 mt-1">
                <label for="">Department Name</label>
            </div>
            <div class="col-md-4">
                <input type="text" name="departmentname" class="form-control">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-2 mt-1">
                <label for="">Semester</label>
            </div>
            <div class="col-md-4">
                <select name="semester" id="" class="form-select">
                    <option value="1 st">1 st</option>
                    <option value="2 st">2 st</option>
                    <option value="3 st">3 st</option>
                    <option value="4 st">4 st</option>
                    <option value="5 st">5 st</option>
                    <option value="6 st">6 st</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-md-1">
                <button class="btn btn-primary">Insert</button>
            </div>
        </div>
    </form>
</div>